/* You can add global styles to this file, and also import other style files */

/* *,
*::before,
*::after{
box-sizing: border-box;
}

*{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
} */


body{
    background-image: url(D:\web\frontend\typing\bckimg.png);
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}